<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
        <script>
            Vue.component('todo-add',{
                template:`
                    <div>
                        <input type="text" v-model="title">
                        <button @click="onClick">Añadir</button>
                    </div>
                `,
                data: function () {
                    return{
                        title: null
                    }
                },
                methods: {
                    onClick: function () {
                        console.log(this.title)
                    }
                }
            })

            Vue.component('todo-item',{
                props:['todo'],
                template: `<li>{{todo.title}}</li>`
            })

            Vue.component('todo-list',{
                props: ['todos'],
                template:`
                <ul>
                    <todo-item
                    v-for="(todo, index2) in todos"
                    :key="index2"
                    :todo="todo">
                    </todo-item>
                </ul>
                `
            })
            const app=new Vue({
                el:'#app',
                data:{
                    todos:[
                        {title: 'Tarea 1', completed: false},
                        {title: 'Tarea 2', completed: false},
                        {title: 'Tarea 3', completed: false}
                    ]
                },
                template:`
                    <div>
                    <todo-list :todos="todos"></todo-list>
                    <todo-add></todo-add>
                    </div>
                `
            })
        </script>
    </body>
</html>